/* Blog Template Styles */
.default-template nav ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.default-template .content {
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
}
